.navbar {
    height: 40px;
    background-color: #1e1e2f;
    color: white;
    /* display: flex; */
    
    padding: 0 20px;
}
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
  }
  .navbar-search{
    margin-right: 10px;
  }
  
  .navbar-search input {
    padding: 3px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 200px;
    background-color: #ffffff;
    color: rgb(171, 162, 162);
    transition: width 0.3s ease;
  }
  
  .navbar-search input:focus {
    width: 250px;
  }
  
  .navbar-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid white;
    cursor: pointer;
  }
  